.holder {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
}

ul {
  list-style-type: none;
}
ul li {
  overflow: hidden;
  margin: 0 0 20px;
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px;
}
ul li:last-child {
  margin: 0;
}

.link-button {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

span {
  display: block;
  width: 100%;
  font-weight: bolder;
}
span.phone {
  font-weight: normal;
  font-style: italic;
  color: #999;
}
